@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 1rem;
    width: auto;
    padding: 1rem 2rem;
  }

  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}
